$red : #f00009;
@mixin sub-h2{
    font-size: 2.187rem;
    font-weight: 300;
    letter-spacing: 3px;
}

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: transparent;
    .logo{
        float: left;
        margin-left: 10%;

    }
    .menu{
        
        ul{
            position: absolute;
            top: 30%;
            left: 30%;
            width: auto;
            li{
                padding: 0 46px;
                float: left;
                a{
                    letter-spacing:3px;
                    font-size: 16px;
                    color: #ddd
                    

                }
            }
        }
    }
}


footer {
    position: relative;
    background-color: $red;
    height: 160px;
    // background: url(../img/coca-footer-bgi.png);
    h2{
        float: left;
        width: 30%;
        padding-top: 4%;
        padding-left: 12%;

    }
    .footer-contents{
          float: right;
          padding-top: 38px;
          width: 70%;
          height: 160px;
        
        .sns-icon{
            width: 100%;
            li{
                float: right;
                margin-left: 2%;
            }
        }
        .bottom-util{
            padding-top: 45px;
            li{
                float: right;
                padding-left: 2%;
                a{
                    font-size: 14px;
                }

            }
        }
        .copy{
            float: right;
            padding-top: 8px;
            font-size: 13px;
        }
    }
}


#container {

     .visual{
        background: url("../img/img(5).jpg")50% 0 no-repeat;
        height: 1041px;
    }
    .brand-slide{
        height: 980px;
        background:url("../img/bgi_section2.jpg")no-repeat;
        h2{
            @include sub-h2;
            position: absolute;
            top: 25%;
            left: 34%;
            z-index: 6;
        }
        .swiper-container{
            margin: 20px 0;
           padding-top: 30%;
            width: 100%;
            // height: 300px;
            z-index: 5;
            .swiper-wrapper{
                
                .swiper-slide{
                    text-align: center;
                    font-size: 18px;
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                      }
                }
            }
        }
    }

    .news-area{ 
        height: 980px; //height 값 잡히면 지우기
        .news{
            width: 45%;
            h2{
                @include sub-h2;
                padding-bottom: 3%;
            }
            ul{
                
                li{
                    .img{
                        a{

                        }
                    }
                    .text-area{
                        padding-top: 15px;
                        text-align: center;

                        h4{ 
                            font-size: 1.25rem;
                            letter-spacing: 3px;
                         
                        }
                        .desc{
                            padding-top: 10px;
                            padding-bottom: 10px;
                            font-size: 1.125rem;
                            color: #797979
                        }
                    }

                }
            }

        }
        &:nth-child(2){
            float: right;
        }

      
    }
    
}



