$red : #f00009;
$mouse-color: #fff;

@mixin sub-h2{
    font-size: 2.187rem;
    font-weight: 300;
    letter-spacing: 3px;
}

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: transparent;
    .logo{
        float: left;
        margin-left: 10%;

    }
    .menu{
        
        ul{
            position: absolute;
            top: 30%;
            left: 30%;
            width: auto;
            li{
              
                padding: 0 46px;
                float: left;
                color: #ddd;
                &::hover{
                    color: $red;
                }
                a{
                    letter-spacing:3px;
                    font-size: 16px;
                }
            
            }
        }
    }
}


footer {
    position: relative;
    background-color: $red;
    height: 160px;
    // background: url(../img/coca-footer-bgi.png);
    h2{
        float: left;
        width: 30%;
        padding-top: 4%;
        padding-left: 12%;

    }
    .footer-contents{
          float: right;
          padding-top: 38px;
          width: 70%;
          height: 160px;
        
        .sns-icon{
            width: 100%;
            li{
                float: right;
                margin-left: 2%;
            }
        }
        .bottom-util{
            padding-top: 45px;
            li{
                float: right;
                padding-left: 2%;
                a{
                    font-size: 14px;
                }

            }
        }
        .copy{
            float: right;
            padding-top: 8px;
            font-size: 13px;
        }
    }
}


#container {
     .visual{
        background: url("../img/img(5).jpg")50% 0 no-repeat;
        height: 980px;
        .mouse{
            width: 35px;
            height: 50px;
            border-radius: 13px;
            border: 2px solid $mouse-color;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:before{
                content: '';
                width: 3px;
                height: 5px;
                background: $mouse-color;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translate(-50%, 0);
                animation: scrollDown 1.2s ease-in-out;
                animation-iteration-count: infinite;
            }
            .mouse-arrow{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: $mouse-color;
                width: 5px;
                height: 2px;
                animation: fading 1.2s ease;
                animation-iteration-count: infinite;
                &:last-child{
                width: 0;
                height: 0;
                background-color: transparent;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 3px solid $mouse-color;
                }

                @for $i from 1 through 3{
                    &:nth-child(#{$i}) {
                        animation-delay: ($i * .4s) - .4s;
                        bottom: -2px - (6px * $i);
                    }
        
                }
			
	
            }
        }
    }
    .brand-slide{
        height: 980px;
        background:url("../img/bgi_section2.jpg")no-repeat;
        h2{
            @include sub-h2;
            position: absolute;
            top: 25%;
            left: 34%;
            z-index: 6;
        }
        .swiper-container{
            margin: 20px 0;
           padding-top: 30%;
            width: 100%;
            // height: 300px;
            z-index: 5;
            .swiper-wrapper{
                
                .swiper-slide{
                    text-align: center;
                    font-size: 18px;
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                      }
                }
            }
        }
    }

    .news-area{ 
       padding-bottom: 5%;
        .news{
            width: 45%;
            h2{
                @include sub-h2;
                padding-bottom: 3%;
            }
            ul{
                
                li{
                    
                    .text-area{
                        padding-top: 15px;
                        text-align: center;

                        h4{ 
                            font-size: 1.25rem;
                            letter-spacing: 3px;
                         
                        }
                        .desc{
                            padding-top: 10px;
                            padding-bottom: 10px;
                            font-size: 1.125rem;
                            color: #797979
                        }
                    }

                }
            }
        &:nth-child(2){
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .community{
        width: 100%;
        height: 980px;
        .sub-title{
            @include sub-h2;
            position: absolute;
            top: 25%;
            left: 40%;
            z-index: 6;
        }
        ul{
            margin: 0 auto;
            padding-top: 25%;
            width: 100%;
            li{               
                margin-left: 3%;
                float: left;
                
                
                img{
                    width: 250px;   
                    height: 250px;
                }
            }
        }
        .foot-img{
            position: absolute;
            background: url(../img/coca-footer-bgi.png);
            width: 100%;
            height: 642px;
        }
    }
}


@keyframes scrollDown{
    0%
        {transform: translate(-50%, 0)}
    70%, 90%
		{transform: translate(-50%, 100%)}
	100%
        {transform: translate(-50%, 0)}
    }

@keyframes fading{
    0%
		{opacity: 1}
	50%
		{opacity: .3}
	100%
        {opacity: 1}
    }